html {
    min-height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-image: white;
}

.drop-box {
    min-height: 20em;
    border: dashed;
    border-width: 0.3em;
    border-radius: 1em;
    border-color: dimgray;
    outline: none;
    user-select: none;
}

.drop-box-text {
    font-size: 1.5em;
    color: dimgray;
}

.upload-img {
    height: 15em;
    object-fit: contain;
}

.verdict-text {
    text-align: center;
}